.edge {
  stroke-width: 0.3;
  stroke: #ccc;
}

.path {
  stroke-width: 1.5;
  stroke: #000;
}

.node {
  stroke-width: 0;
}

.node.startNode {
  stroke-width: 2;
  stroke: #f00;
  color: #a00
}

p { text-align: justify }